# Analyzing `dictionary/large`
Ravi Dayabhai

In [1]:
# Import dependencies
import pandas as pd

# Globals
DICT_FILENAME = 'dictionary_large.txt'

In [30]:
# Read data in
df = pd.read_table(DICT_FILENAME, sep=" ", header=None, names=["word"], keep_default_na=False)

# Adding features
df['len'] = df['word'].str.len().astype('int32')
df['letter_0:1'] = df['word'].str.slice(0, 1)
df['letter_0:2'] = df['word'].str.slice(0, 2)
df["letter_has_'"] = df['word'].str.contains("'")

df.dtypes

word            object
len              int32
letter_0:1      object
letter_0:2      object
letter_has_'      bool
dtype: object

In [31]:
df

               word  len letter_0:1 letter_0:2  letter_has_'
0                 a    1          a          a         False
1               aaa    3          a         aa         False
2              aaas    4          a         aa         False
3            aachen    6          a         aa         False
4           aalborg    7          a         aa         False
...             ...  ...        ...        ...           ...
143086  zwitterions   11          z         zw         False
143087       zygote    6          z         zy         False
143088     zygote's    8          z         zy          True
143089      zygotes    7          z         zy         False
143090      zymurgy    7          z         zy         False

[143091 rows x 5 columns]